DLL/testDLL/testDLL/testDLL.sln
DLL/testDLL/testDLL/.vs/testDLL/v17/.suo
DLL/testDLL/testDLL/.vs/testDLL/v17/Browse.VC.db
DLL/testDLL/testDLL/.vs/testDLL/v17/Browse.VC.db-shm
DLL/testDLL/testDLL/.vs/testDLL/v17/Browse.VC.db-wal
DLL/testDLL/testDLL/.vs/testDLL/v17/Browse.VC.opendb
DLL/testDLL/testDLL/.vs/testDLL/v17/ipch/AutoPCH/2320a3cfb48d6845/TESTDLL.ipch
DLL/testDLL/testDLL/testDLL/testDLL.cpp
DLL/testDLL/testDLL/testDLL/testDLL.vcxproj
DLL/testDLL/testDLL/testDLL/testDLL.vcxproj.filters
DLL/testDLL/testDLL/testDLL/testDLL.vcxproj.user
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.Build.CppClean.log
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.exe.recipe
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.ilk
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.log
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.obj
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.vcxproj.FileListAbsolute.txt
DLL/testDLL/testDLL/testDLL/x64/Debug/vc143.idb
DLL/testDLL/testDLL/testDLL/x64/Debug/vc143.pdb
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.tlog/CL.command.1.tlog
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.tlog/CL.read.1.tlog
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.tlog/CL.write.1.tlog
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.tlog/link.command.1.tlog
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.tlog/link.read.1.tlog
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.tlog/link.write.1.tlog
DLL/testDLL/testDLL/testDLL/x64/Debug/testDLL.tlog/testDLL.lastbuildstate
DLL/testDLL/testDLL/x64/Debug/testDLL.exe
DLL/testDLL/testDLL/x64/Debug/testDLL.pdb
DLL/testDLL/testDLL/x64/Debug/yuvPython.dll
DLL/yuvPython/yuvPython.sln
DLL/yuvPython/.vs/yuvPython/v17/.futdcache.v1
DLL/yuvPython/.vs/yuvPython/v17/.suo
DLL/yuvPython/.vs/yuvPython/v17/Browse.VC.db
DLL/yuvPython/.vs/yuvPython/v17/ipch/5a54ebec1ee906d3.ipch
DLL/yuvPython/.vs/yuvPython/v17/ipch/AutoPCH/8353211a6d73ad8/DLL1.ipch
DLL/yuvPython/x64/Debug/yuvPython.dll
DLL/yuvPython/x64/Debug/yuvPython.exp
DLL/yuvPython/x64/Debug/yuvPython.lib
DLL/yuvPython/x64/Debug/yuvPython.pdb
DLL/yuvPython/yuvPython/DLL1.cpp
DLL/yuvPython/yuvPython/DLL1.h
DLL/yuvPython/yuvPython/dllmain.cpp
DLL/yuvPython/yuvPython/framework.h
DLL/yuvPython/yuvPython/pch.h
DLL/yuvPython/yuvPython/yuvPython.vcxproj
DLL/yuvPython/yuvPython/yuvPython.vcxproj.filters
DLL/yuvPython/yuvPython/yuvPython.vcxproj.user
DLL/yuvPython/yuvPython/x64/Debug/DLL1.obj
DLL/yuvPython/yuvPython/x64/Debug/vc143.idb
DLL/yuvPython/yuvPython/x64/Debug/vc143.pdb
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.Build.CppClean.log
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.dll.recipe
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.ilk
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.log
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.vcxproj.FileListAbsolute.txt
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.tlog/CL.command.1.tlog
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.tlog/CL.read.1.tlog
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.tlog/CL.write.1.tlog
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.tlog/link.command.1.tlog
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.tlog/link.read.1.tlog
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.tlog/link.write.1.tlog
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.tlog/yuvPython.lastbuildstate
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.tlog/yuvPython.write.1u.tlog
DLL/yuvPython/.vs/yuvPython/v17/Browse.VC.db-shm
DLL/yuvPython/.vs/yuvPython/v17/Browse.VC.db-wal
DLL/yuvPython/.vs/yuvPython/v17/Browse.VC.opendb
DLL/yuvPython/yuvPython/pch.cpp
DLL/yuvPython/yuvPython/Source.def
DLL/yuvPython/yuvPython/x64/Debug/dllmain.obj
DLL/yuvPython/yuvPython/x64/Debug/pch.obj
DLL/yuvPython/yuvPython/x64/Debug/yuvPython.pch
