@import '@/css/public.scss';

// css中url的相对路径需要使用~@进行定位否则会报错

#device_list_menu { // 设备列表顶部菜单
  width:90%;
	margin:22px auto;
	height:30px;
  font-size:14px;
  .device_list_menu{ // 筛选,添加,编辑选项按钮class样式
    float:right;
    margin-left:30px;
    cursor:pointer;
    line-height: 30px;
    &:hover{
      color:$projectColor;
    }
  }
  #device_refresh_btn{ // 刷新设备列表图标按钮
    float:right;
    margin-left:20px;
    margin-top:3px;
    cursor:pointer;
    width:22px;
    height:22px;
    background: url(~@/assets/device/refresh.png) no-repeat;
    &:hover{
      background: url(~@/assets/device/refresh2.png) no-repeat;
    }
  }
  #dev_search{ // 搜索输入框
    margin-left:20px;
    float:right;
    border-right:0px;
    border-radius: 2px;
    #dev_search_input{
      float:left;
      height:30px;
      width:220px;
      border: 1px solid #ccc;
      border-right: none;
      box-sizing: border-box;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; 
      padding-left:3px;
    }
    #dev_search_btn{
      font-size: 14px;
      color:#fff;
      cursor:pointer;
      float:left;
      width:40px;
      height:30px;
      background:url(~@/assets/device/search2.png) no-repeat 10px 5px;
      background-color: $projectColor;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  #dev_filter_box{ // 筛选框
    margin-left:30px;
    line-height: 30px;
    float:right;
    position:relative;
    #online_btn{
      // padding:2px 14px;
      // border:1px solid $projectColor;
      cursor: pointer;
      &:hover{
        color:$projectColor;
      }
      #online_btn_direction{
        width:14px;
        height:6px;
        float:right;
        margin-top:12px;
        margin-left:6px;
      }
      .online_btn_down{
        background: url(~@/assets/device/down.png) no-repeat;
      }
      .online_btn_up{
        background: url(~@/assets/device/up.png) no-repeat;
      }
    }
    #online_btn_box{
      width: 100px;
      height: 82px;
      background: url(~@/assets/device/frame2.png) no-repeat;
      background-size:100% 100%;
      font-size:14px;
      left:-33px;
      top:32px;
      position: absolute;
      z-index: 10000;
      display: none;
      color:#666666;
      #online_btn_select_all{
        margin:0 auto;
        margin-top: 12px;
        height:23px;
        text-align: center;
        cursor: pointer;
        width: 80px;
        border-bottom: 1px solid #dedede;
        box-sizing: border-box;
        font-size: 13px;
        line-height: 23px;
        &:hover{
          color:$projectColor;
        }
      }
      #online_btn_select_online{
        border-bottom:1px solid #ccc;
        box-sizing: border-box;
        height:23px;
        margin:0 auto;
        text-align: center;
        cursor: pointer;
        width: 80px;
        font-size: 13px;
        line-height: 23px;
        &:hover{
          color:$projectColor;
        }
      }
      #online_btn_select_offline{
        margin:0 auto;
        font-size: 13px;
        line-height: 23px;
        box-sizing: border-box;
        /*line-height: 36px;*/
        height:23px;
        text-align: center;
        cursor: pointer;
        /*background: #fff;*/
        width: 98px;
        margin-top: -1px;
        border-radius: 0 0 5px 5px;
        &:hover{
          color:$projectColor;
        }
      }
    }
  }
  #device_add_btn{ // 添加设备选项
    position:relative;
    #device_add_btn_down{ // 添加设备下拉提示框
      font-size:16px;
      color:#333333;
      text-align:center;
      line-height:52px;
      width:146px;
      height:52px;
      background:url(~@/assets/device/prompt-box.png) no-repeat;
      position:absolute;
      left:-47px;
      top:32px;
      z-index:1001;
    }
  }
}
#vimtag_device_list_box{ // 设备列表展示框
  width:90%;
  margin:0 auto;
  padding-bottom:100px;
}
.device_list_img{ // 设备图片
  width: 25%;
  height: 169px;
  float: left;
  text-align: center;
  cursor: pointer;
  padding-right:10px;
  box-sizing: border-box;
  margin-top:10px;
  position: relative;
}
.device_list_alert_box{ // 设备列表警示图标展示部分
  float:left;
  position:absolute;
  top: 5px;
  right: 14px;
  width:20px;
  z-index:999;
  .device_list_move_ico, .device_list_sos_ico, .device_list_door_ico{
    display: none;
  }
}
.device_list_img_child{ // 设备列表图片样式
  cursor: pointer;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  .camera_sign_picture_div{
    position: absolute;
    z-index: 10;
    width:100%;
    height:100%;
    .img_class {
      width:100%;
      height:100%;
    }
  }
  .camera_sign_video{
    width: 100%;
    height:100%;
    position: absolute;
  }
}
.device_nick { // 设备列表昵称样式
  width: 100%;
  height: 34px;
  color: #000000;
  font-size: 14px;
  z-index: 2;
  background: #ffffff;
  line-height: 34px;
  bottom: 0;
  border-left:1px solid #d6d7dc;
  border-right:1px solid #d6d7dc;
  border-bottom:1px solid #d6d7dc;
  box-sizing:border-box; 
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  .device_list_del_ico{
    width:16px;
    height:16px;
    float:right; 
    /*position:absolute; 
    right:0;*/
    margin-top:10px;
    margin-right:10px;
    display: none;
    background: url(~@/assets/device/device_delete.png) no-repeat;
    &:hover{
      background: url(~@/assets/device/device_delete2.png) no-repeat;
    }
  }
  .device_list_sort_box{
    float:right;
    display: none;
    .device_list_sort_num{
      width:20px;
    }
    .device_list_sort_btn{
      float:right;
      background: $projectColor;
      color:#fff;
      font-size: 12px;
      padding:0px 5px;
      line-height: 20px;
      margin-top:7px;
      margin-left:5px;
      border-radius:2px;
    }
  }
}
#empty_div_img{ // 设备列表无设备时展示图片
  background:url(~@/assets/device/dev_no.png) no-repeat;
  width:52px;
  height:52px;
  background-size: 100% 100%;
  /*6.1.2 178+58 改为116*/
  margin: 116px auto 20px;
}
.empty_div_txt{ // 设备列表无设备时展示的文字样式
  text-align:center;
  color:#333333;
  font-size:14px;
}

// 添加设备弹窗样式
#add_device_model{
	width:100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
	background: rgba(0,0,0,0.5) none repeat scroll;
  z-index: 1099;
  #add_devices_box{ // 弹窗展示盒子
    width:840px;
    height:580px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    left:50%;
    top:50%;
    margin-left:-420px;
    margin-top:-290px;
    box-sizing: border-box;
    #add_devices_box_menu{ // 顶部标题菜单栏样式
      #add_devices_box_close{
        width:20px;
        height:20px;
        margin-right:20px;
        margin-top:17px;
        float:right;
        cursor:pointer;
        background: url(~@/assets/device/n-close.png) no-repeat;
        &:hover {
          background: url(~@/assets/device/c-close.png) no-repeat;
        }
      }
      #add_devices_help{
        width:22px;
          height:22px;
          float:right;
          cursor:pointer;
          margin-right: 20px; 
          margin-top: 17px;
          background: url(~@/assets/device/help.png) no-repeat;
          background-size:100% 100%;
      }
      #add_devices_box_back{
        float:left;
        cursor:pointer;
        padding-left: 13px;
        line-height: 60px;
        margin-left:20px;
        background: url(~@/assets/device/back.png) 0 24px no-repeat;
        &:hover{
          color:$projectColor;
          background: url(~@/assets/device/choose-back.png) 0 24px no-repeat;
        }
      }
      #add_devices_box_title{
        text-align: center;
        line-height: 60px;
        border-bottom: 1px solid #d6d7dc;
        color:#333333;
        font-size: 16px;
      }
    }
    #add_devices_box_body{ // 添加设备弹窗主体样式
      width:772px;
      margin:0 auto;
      .add_devices_type{ // 选择设备类型
        width:100%;
        float:left;
        .add_devices_type_name{
          margin-top:20px;
          margin-bottom: 15px;
          margin-left: 5px;
          font-size: 16px;
          color:#333333;
        }
        .add_devices_type_list{
          width:180px;
          height:120px;
          margin:5px 5px;
          border:1px solid #d6d7dc;
          border-radius: 5px;
          float:left;
          color:#333333;
          cursor:pointer;
          &:hover {
            color: $projectColor;
          }
          .add_devices_type_list_img{
            width:60px;
            height:60px;
            margin:15px auto;
          }
          .add_devices_type_list_name{
            text-align: center;
            font-size:14px;
          }
        }
      }
      #input_device_id{ // 填写设备id
        .add_device_sample_img_361{
          background: url(~@/assets/device/id_361.png) no-repeat;
        }
        .add_device_sample_img_b1{
          background: url(~@/assets/device/id_b1.png) no-repeat;
        }
        .add_device_sample_img_b2{
          background: url(~@/assets/device/id_b2.png) no-repeat;
        }
        .add_device_sample_img_b3{
          background: url(~@/assets/device/id_b3.png) no-repeat;
        }
        .add_device_sample_img_cm1{
          background: url(~@/assets/device/id_cm1.png) no-repeat;
        }
        .add_device_sample_img_cp1{
          background: url(~@/assets/device/id_cp1.png) no-repeat;
        }
        .add_device_sample_img_fisheye{
          background: url(~@/assets/device/id_fisheye.png) no-repeat;
        }
        .add_device_sample_img_m1{
          background: url(~@/assets/device/id_m1.png) no-repeat;
        }
        .add_device_sample_img_p1{
          background: url(~@/assets/device/id_p1.png) no-repeat;
        }
        .add_device_sample_img_s1{
          background: url(~@/assets/device/id_s1.png) no-repeat;
        }
        .add_device_input_id_box_del{
          width:16px;
          height:16px;
          float: right;
          margin: 10px;
          cursor: pointer;
          background: url(~@/assets/device/cause.png) no-repeat;
        }
      }
      #add_offline_device{ // 离线设备添加
        .dev_offline_tips{ // 设备类型为cm1,m1,fisheye 显示用手机添加
          text-align: center;
          .dev_offline_tips_img{
            margin:70px 0;
          }
          .dev_offline_tips_text{
            text-align: center;
            font-size:16px;
            color:#333;
          }
        }
        #add_devices_img{
          width:20px;
          height:20px;
          display:inline-block;
          background:url(~@/assets/device/sound.png) no-repeat;
          background-size: 100% 100%;
          margin-left: 12px;
          vertical-align: middle;
        }
      }
      #connect_net{ // 连接网线等待设备上线
        .add_devices_wait_online{
          text-align: center;
          color:#333;
        }
        #add_devices_timenum{
          width:30px;
          height:30px;
          background:$projectColor;
          color:#fff;
          margin:0 auto;
          border-radius: 50%;
          margin-top: 15px;
          text-align: center;
          line-height: 30px;
        }
      }
      #connect_fail{ // 配置失败
        #add_device_fail_img{
          width:100px;
          height:100px;
          margin:55px auto;
          cursor: pointer;
          background: url(~@/assets/device/error.png) no-repeat;
          background-size: 100% 100%;
        }
        #add_devices_unconnect_info{
          margin-left:141px;
        }
      }
      #connect_fail_reason{ // 配置失败帮助
        .device_offline_reason{
          margin-top:10px;
          font-size: 15px;
        }
        .device_offline_reason_public{
          margin-top: 15px;
            font-size: 14px;
            letter-spacing: 1px;
            color:#646464;
        }
      }
      #input_device_password{ // 设备在线输入密码
        #add_device_info{
          width:300px;
          margin:0 auto;
          text-align: center;
          font-size: 16px;
          margin-top:140px;
          margin-bottom: 20px;
          color:#333;
        }
        #add_device_forget_pass{
          text-align: center;
          margin-top:20px;
          cursor:pointer;
        }
      }
      #set_device_wifi{ // 设备设置wifi
        #add_device_set_wifi_refresh{
          width:22px;
          height:22px;
          float:right;
          margin-top:7px;
          margin-right:230px;
          cursor:pointer;
          background: url(~@/assets/device/refresh.png) no-repeat;
      }
      #add_device_set_wifi_refresh:hover{
          background: url(~@/assets/device/refresh2.png) no-repeat;
      }
        #add_device_set_wifi_box{
          width:240px;
          height: 35px;
          margin:0 auto;
          border:1px solid #999;
          border-radius: 5px;
          margin-bottom:30px;
          .add_device_set_wifi_box_ico{
            width:16px;
            height:16px;
            float: left;
            margin: 10px;
            background: url(~@/assets/device/wifi.png) no-repeat;
          }
        }
      }
      #set_device_nick{ // 设置设备昵称
        #add_device_edit_name_tips{
          width:400px;
          margin:0 auto;
          text-align: center;
          font-size: 16px;
          margin-top:150px;
          margin-bottom: 20px;
          color:#333;
        }
        .add_device_input_name_box_ico{
          width:14px;
          height:16px;
          float: left;
          margin: 10px;
          background: url(~@/assets/device/nickname.png) no-repeat;
        }
      }
      #set_device_zone{ // 设置设备时区
        #add_device_set_zone_box{
          width:240px;
          height: 35px;
          margin:0 auto;
          border:1px solid #999;
          border-radius: 5px;
          margin-bottom:30px;
          margin-top:150px;
          .add_device_set_zone_box_ico{
            width:16px;
            height:16px;
            float: left;
            margin: 10px;
            background: url(~@/assets/device/place.png) no-repeat;
          }
        }
      }
      #offline_device_alert{ // 点击离线设备显示弹框
        #video_play_offline{
          margin: 195px auto 10px;
          text-align: center;
          font-size: 15px;
          letter-spacing: 3px;
        }
        #video_play_id, #video_play_offline_word{
          margin-bottom: 20px;
        }
        #search_help{
          color: #fff;
          background: $projectColor;
          font-size: 14px;
          margin: 0 auto;
          width: 200px;
          line-height: 24px;
          height: 24px;
          text-align: center;
          border-radius: 2px;
          padding: 5px;
          letter-spacing: 1px;
          cursor: pointer;
        }
      }
      #offline_device_help{ // 点击离线设备
        .device_offline_reason_box{
          margin-top:100px;
          margin-left:100px;
        }
        #reconfig_wifi{
          color:$projectColor;
          display:inline-block;
          cursor: pointer;
        }
      }

      // 公共弹窗内样式
      #add_device_sample_img{
        width:320px;
        height:200px;
        margin:55px auto;
      }
      .add_device_input_id_box{
        width:240px;
        height: 35px;
        margin:0 auto;
        border:1px solid #999;
        border-radius: 5px;
        margin-bottom:30px;
      }
      .add_device_input_id_box_ico{
        width:16px;
        height:16px;
        float: left;
        margin: 10px;
        background: url(~@/assets/device/camera.png) no-repeat;
      }
      #add_device_submit{
        color:#fff;
        width:240px;
        text-align: center;
        cursor: pointer;
        line-height: 35px;
        margin:0 auto;
        border-radius: 5px;
        background: $projectColor;
      }
      .add_device_input_id_box_input{
        border:none;
        height:35px;
        width:160px;
      }
      .add_devices_box_info{
        width:476px;
        text-align: center;
        color:#333;
        font-size: 16px;
        margin-top:20px;
        margin-bottom: 30px;
        margin-left: 159px;
        letter-spacing: 1px;
      }
      #add_device_success_ico{
        width:44px;
        height:44px;
        margin:0 auto;
        margin-top:50px;
        margin-bottom: 14px;
        background: url(~@/assets/device/success2.png) no-repeat;
      }
      .add_device_input_pass_box_ico{
        width:16px;
        height:16px;
        float: left;
        margin: 10px;
        background: url(~@/assets/device/key.png) no-repeat;
      }
      #add_device_success_txt{
        text-align: center;
        color:$projectColor;
        font-size: 16px;
      }
      #add_device_edit_pass_tips{
        width:400px;
        margin:0 auto;
        text-align: center;
        font-size: 16px;
        margin-top:50px;
        margin-bottom: 20px;
        color:#333;
      }
      .add_device_set_wifi_down{
        width:14px;
        height:6px;
        float:right;
        margin-top:15px;
        margin-right:10px;
        background: url(~@/assets/device/up.png) no-repeat;
      }
      .add_device_set_wifi_up{
        width:14px;
        height:6px;
        float:right;
        margin-top:15px;
        margin-right:10px;
        background: url(~@/assets/device/down.png) no-repeat;
      }
      .add_device_set_wifi_input{
        line-height: 34px;
      }
      #add_device_set_wifi_list_box{
        background: #fff;
        position: absolute;
        z-index: 1000;
        width:240px;
        max-height:220px;
        overflow: auto !important;
        border:1px solid #999;
        border-top:none;
        border-radius: 0 0 5px 5px;
      }
      #add_device_set_wifi_list_box::-webkit-scrollbar{
          width:5px;
      }
      #add_device_set_wifi_list_box::-webkit-scrollbar-thumb:vertical{
          background-color:#999;
          border-radius: 6px;
      }
      .add_device_set_wifi_list{
        line-height: 30px;
        border-top:1px solid #999;
        padding-left:33px;
        cursor:pointer;
      }
      .add_device_set_wifi_list:hover{
          color:$projectColor;
      }
      #add_device_skip{
        color:#fff;
        width:240px;
        text-align: center;
        cursor: pointer;
        line-height: 35px;
        margin:0 auto;
        border-radius: 5px;
        background: $projectColor;
        margin-top:20px;
      }
      // 公共弹窗内样式 结束
    }
  }
}

// 树状结构样式
#device_list_tree_box{
	position: fixed;
	left: 0;
	top:82px;
  z-index: 100;
  #device_list_tree_div{
    height:100%;
    float:left;
    #device_list_tree{
      background: #f2f2f2;
      /*g 5.5后改127*/
      width:127px; 
      height:100%;
      padding-left:10px;
      float:left;
      overflow: auto;
      #device_list_tree_level_box{
        width:100%;
        float:left;
      }
      #device_list_tree_all{
        cursor:pointer;
      }
    }
  }
}

#device_list_tree_box_btn{
  width:40px;
  height:40px;
  background: $projectColor;
  border:1px solid $projectColor;
  cursor: pointer;
  float:left;
  color:#fff;
  font-size: 12px;
  text-align: center;
  background: url(~@/assets/device/tree_close.png) no-repeat;
  background-size: 100%;
  // margin-top: 50%;
}