@import "./jquery.ibutton.scss";
@import "./date-timepicker.scss";
@import "./jquery.mCustomScrollbar.scss";
@import "./time_select.scss";
@import "./slider.scss";
@import "./jquery.tzSelect.scss";
@import "./msg_tips.scss";

$projectColor:var(--projectBackgroundColor, #00a6ba);

*{
	margin:0;
	padding:0;
	list-style: none;
  	text-decoration: none;
}
input, button, select, textarea {
	outline: none;
}
body{
	font-family: 微软雅黑, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
html{
	height:100%;
}
.disabled{
	pointer-events:none;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.notclick{
	pointer-events: none;
}
body{
	height:100%;
	background: #fff;
	font-family: "HelveticaNeueLTPro-Lt";
}
input, button, select, textarea {
	outline: none;
}
.public_parent_box{
	overflow: hidden;
}
#web{
	width:100%;
	height:100%;
	float:left;
}
#page{
	height:100%;
}
@media (max-width: 1108px){   
	#web{  
		width:1080px;   
	    height:100%;  
	}
}