@import "./jquery.ibutton.scss";
@import "./date-timepicker.scss";
@import "./jquery.mCustomScrollbar.scss";
@import "./time_select.scss";
@import "./slider.scss";
@import "./jquery.tzSelect.scss";

*{
	margin:0;
	padding:0;
	list-style: none;
  text-decoration: none;
}
input, button, select, textarea {
	outline: none;
}
body{
	font-family: 微软雅黑, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
html{
	height:100%;
}