/*
   Slider CSS, style as you please.
   Note: The png images used for this demo were originally located at http://www.schillmania.com/
   Remove the -moz & -khtml styles if you want the css to validate.
   Change the image paths to suit you installation.
*/
/* Styles for the horizontal slider */
.fd-slider {
  position: relative;
  width: 100%;
  height: 20px;
  text-align: center;
  border: 0 none;
  text-decoration: none;
  display: block;
  -moz-user-select: none;
  -khtml-user-select: none;
  cursor: pointer;
}
.fd-slider-inner {
  position: relative;
  display: block;
  z-index: 1;
  height: 18px;
  text-align: left;
  cursor: pointer;
}
.fd-slider-bar {
  position: absolute;
  display: block;
  z-index: 4;
  height: 3px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 4px;
  top: 8px;
  bottom: none;
  left: 10px;
  right: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border-bottom: 1px solid #35373d;
  background-image: url(/imgs/scroll_color_3px.png);
}
.fd-slider-cover {
  position: absolute;
  display: block;
  z-index: 2;
  height: 3px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 4px;
  top: 8px;
  bottom: none;
  left: 10px;
  right: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border-bottom: 1px solid #2c2c2c;
  background: #111;
}
/* Styles for the vertical slider */
.fd-slider-vertical {
  position: relative;
  border: 0 none;
  text-decoration: none;
  display: block;
  width: 20px;
  height: 100%;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  cursor: pointer;
  cursor: hand;
  .fd-slider-inner {
    display: block;
    width: 18px;
    height: 100%;
    text-align: left;
    background: #fcfcfc;
    border: 1px solid #ccc;
  }
  .fd-slider-bar {
    width: 2px;
    top: 10px;
    bottom: 10px;
    left: 8px;
    right: none;
    height: auto;
  }
  .fd-slider-handle {
    cursor: N-resize;
  }
}
/* black handle, no glow */
.fd-slider-handle {
  position: absolute;
  display: block;
  padding: 0;
  border: 0 none;
  margin: 0;
  z-index: 4;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  outline: 0px none;
  background: url("/imgs/mipc_img.png") no-repeat scroll -112px -184px transparent;
  cursor: pointer;
  line-height: 20px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-focus: none;
  -moz-outline: 0px none;
  &:focus {
    outline: 0px none;
    border: 0 none;
    -moz-user-focus: normal;
  }
}
button {
  &.fd-slider-handle {
    &:focus {
      &::-moz-focus-inner {
        border-color: transparent;
      }
    }
  }
}
/* black handle, glow */
.fd-slider-hover {
  .fd-slider-handle {
    background: url("/imgs/mipc_img.png") no-repeat scroll -132px -184px transparent;
  }
}
/* blue handle, no glow */
.focused {
  .fd-slider-handle {
    background: url("/imgs/mipc_img.png") no-repeat scroll -96px -189px transparent;
  }
  &.fd-slider-hover {
    .fd-slider-handle {
      background: url("/imgs/mipc_img.png") no-repeat scroll -96px -189px transparent;
    }
  }
}
/* blue handle glow */
body {
  &.slider-drag-vertical {
    cursor: N-resize !important;
  }
  &.slider-drag-horizontal {
    cursor: W-resize !important;
  }
}
.fd_hide_slider_input {
  display: none;
}
/* Disabled Sliders */
.slider-disabled {
  opacity: .8;
  filter: alpha(opacity=80);
  .fd-slider-handle {
    cursor: auto !important;
  }
}
/*---------------------------------------------------------------*/
#tooltip {
  position: absolute;
  top: 0px;
  left: -999px;
  width: 40px;
  height: 25px;
  line-height: 25px;
  background: transparent url(/imgs/tooltip-dongle.png) no-repeat 50% 100%;
  padding-bottom: 5px;
  z-index: 9999;
}
#tooltip_ex {
  position: absolute;
  top: 0px;
  left: -999px;
  width: 200px;
  height: 25px;
  line-height: 25px;
  background: transparent url(/imgs/tooltip-dongle.png) no-repeat 50% 100%;
  padding-bottom: 5px;
  z-index: 9999;
}
#tooltipInner1 {
  padding-left: 3px;
  overflow: hidden;
  color: #fff;
  background: transparent url(/imgs/tooltipleft.png) no-repeat 0 0;
}
#tooltipInner2 {
  padding: 0 5px 0 0;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background: transparent url(/imgs/tooltip.png) no-repeat 100% 0;
  text-shadow: #000 1px 1px 1px;
  font-size: 12px;
}
